<!-- ProjectCard.astro -->
---
const { link, imageUrl, title, description, category, categoryImage, categoryLabel } = Astro.props;
---

<a href={link}>
  <div class="group max-w-sm rounded-lg overflow-hidden shadow-md mx-auto hover-box md:mb-10 dark:border-gray-700 dark:bg-gray-500 dark:text-white" data-category={category}>
      <img class="rounded-t-lg" src={imageUrl} alt={title}>
      <div class="px-6 py-4 rounded-lg">
          <div class="font-bold text-xl mb-2">{title}</div>
            <!-- set:htmlディレクティブを使用してdescriptionをレンダリング -->
            <p class="text-gray-700 text-base" set:html={description}></p>
      </div>
      <div class="px-6 pb-2">
          <div class="flex justify-center items-center text-gray-900 bg-white border border-gray-300 focus:outline-none font-medium rounded-lg text-sm px-3 py-1 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600">
              <div class="flex items-center">
                  <img src={categoryImage} class="w-4 h-4">
                  <span class="ml-2">{categoryLabel}</span>
              </div>
          </div>  
      </div>        
  </div> 
</a>
