---
const { link, css, sns, size, svg } = Astro.props;
---

<a href={link}>
    <button type="button" class={css} aria-label={sns}>
      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox={size}>
        <path fill-rule="evenodd" d={svg} clip-rule="evenodd"/>
      </svg>
    </button>
</a>