---
// 必要なプロパティを Astro.props から取り出します。
const { frontmatter } = Astro.props;
const { title, pubDate, image, tags, ogImage } = frontmatter;

// .astro ファイルの最初にメタデータとスクリプトを置きます
import { format } from 'date-fns';
import Header from './Header.astro'; // このパスが正しいか確認してください
import '../styles/global.css'; // このパスが正しいか確認してください

// const allPosts = await Astro.glob('../pages/posts/*.md'); // この行は削除されています

const allPosts = await Astro.glob('../pages/posts/*.md'); // パスがプロジェクト構造に合っているか確認してください

// 投稿の pubDate をフォーマットする関数
function formatPubDate(date: string) {
  return format(new Date(date), 'yyyy-MM-dd');
}

// allPosts の各記事に対してフォーマットを適用します
const formattedPosts = allPosts.map(post => ({
  ...post,
  frontmatter: {
    ...post.frontmatter,
    pubDate: formatPubDate(pubDate)
  }
}));
---

<link href="/styles/global.css" rel="stylesheet"> <!-- パスが正しいか確認してください -->

<head>
  <title>{title}｜iuto.work</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico">
  <meta name="description" content="いうとのポートフォリオサイトです。">
  <meta property="og:image" content={`https://iuto.work${ogImage}`} />
  <meta property="og:title" content={title} />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content="いうとのポートフォリオサイトです。">
  <meta name="twitter:image" content={`https://iuto.work${ogImage}`}>
</head>
<body class="justify-center 2xl:w-1/2 sm:w-5/6 px-10 mx-auto mb-20 dark:bg-gray-800 p-4">
    <Header active="blog" />
    <!-- ここで formatPubDate 関数を使って pubDate をフォーマットします -->
    <div class="flex flex-col items-center mx-auto max-w-2xl dark:text-gray-200 md:max-w-full">
        <img src={image} class="mt-10 inline-flex items-center justify-center flex-shrink-0 h-20 w-20 text-blue-500 rounded-none shadow-none" />
        <div class="flex flex-col items-center">
            <h2 class="text-2xl font-bold dark:text-white self-stretch">{title}</h2>
            <time class="mt-2 text-gray-500 dark:text-white flex justify-center items-center">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="mr-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path>
                </svg>
                {formatPubDate(pubDate)}
            </time>
        </div>
        <article class="mt-10 prose prose-lg dark:prose-invert">
            <slot />
          </article>
    </div>
  </body>